@import 'tailwindcss';

/* --- CSS Variables --- */
:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-carolina-blue: #74b3ce;
  --color-blue-munsell: #508991;
  --color-prussian-blue: #172a3a;
  --color-midnight-green: #004346;
  --color-mint: #09bc8a;
  --color-blue: #0000ff;
  --color-orange: #ff8000;
}

/* --- Theme Variables --- */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* --- Base Styles --- */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  background-color: var(--color-blue-munsell);
  margin-top: 1rem;
}

.header {
  background-color: var(--color-blue-munsell);
  color: white;
  padding: 1rem;
}

.sectionBorder {
  border: 2px solid var(--color-blue-munsell);
  border-radius: 10px;
  padding: 1rem;
}

.sectionBased {
  display: flex;
}

.imageSourceText {
  font-size: small;
  padding: 0.25rem;
}

.textColourGreen {
  color: var(--color-midnight-green);
}

.munsellColour {
  color: var(--color-blue-munsell);
}

.munsellColourBG {
  background-color: var(--color-blue-munsell);
}

.bgLightGreen {
  background-color: #508a914d;
}

.bgTextLightGreen {
  color: #508b91;
}

.border10 {
  border-radius: 10px;
}

.imageCenter {
  margin: auto;
}

/* --- Slider Styles --- */
.color-slider {
  height: 20px;
  border-radius: 9999px;
  background: linear-gradient(to right, var(--color-blue), var(--color-orange));
}

/* WebKit: Chrome, Safari */
.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  background-color: white;
  border: 2px solid #b9b9b9;
  cursor: pointer;
  margin-top: 0;
}

/* Firefox */
.color-slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  background-color: white;
  border: 2px solid #333;
  cursor: pointer;
}
