@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-carolina-blue: #74b3ce;
  --color-blue-munsell: #508991;
  --color-prussian-blue: #172a3a;
  --color-midnight-green: #004346;
  --color-mint: #09bc8a;
  --color-blue:  #ff8000;
  --color-orange: #0000ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  background-color: var(--color-blue-munsell);
  margin-top: 1rem;
}

.header {
  background-color: var(--color-blue-munsell);
  padding: 1rem;
  color: white;
}

.imageSourceText{
  font-size: small;
  padding: 0.25rem;
}

.sectionBorder{
  border: 2px solid var(--color-blue-munsell);
  border-radius: 10px;
  padding: 1rem;
}

.sectionBased {
  display: flex;
  
}

.textColourGreen {
  color: var(--color-midnight-green);
}

.munsellColour {
  color: var(--color-blue-munsell);
}

.bgLightGreen {
  background-color: #508a914d;
}


.bgTextLightGreen {
  color: #508b91;
}

.border10 {
    border-radius: 10px;
}

/* CSS for prototyp*/
.fullContainer {
  display: flex;
  width: 100%;
  height: 80vh;
}

.prototypContainer {
  display: flex;
  width: 100%;
  height: 100%;
  border: 2px solid white;
  border-radius: 10px;
  margin: 4rem;
  box-shadow: 0px 0px 5px 5px #b9b9b9;
}

.imageContainer {
  margin: 2rem;
  border-right: 2px solid #b9b9b9;
  width: 50%;
}

.intractionContainer {

}
