@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-carolina-blue: #74b3ce;
  --color-blue-munsell: #508991;
  --color-prussian-blue: #172a3a;
  --color-midnight-green: #004346;
  --color-mint: #09bc8a;
  --color-blue: #ff8000;
  --color-orange: #0000ff;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

button {
  background-color: var(--color-blue-munsell);
  margin-top: 1rem;
}

.header {
  background-color: var(--color-blue-munsell);
  padding: 1rem;
  color: white;
}

.imageSourceText {
  font-size: small;
  padding: 0.25rem;
}

.sectionBorder {
  border: 2px solid var(--color-blue-munsell);
  border-radius: 10px;
  padding: 1rem;
}

.textColourGreen {
  color: var(--color-midnight-green);
}

.munsellColour {
  color: var(--color-blue-munsell);
}

.border10 {
  border-radius: 10px;
}

.color-slider {
  height: 20px;
  border-radius: 9999px;
  /* TODO: Change Color Variables to Orange/ Blue if not Done in Merge  */
  background: linear-gradient(to right, var(--color-blue), var(--color-orange));
}

/* WebKit: Chrome, Safari */
.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  background-color: white;
  border: 2px solid #b9b9b9;
  cursor: pointer;
  margin-top: 0;
}

/* Firefox */
.color-slider::-moz-range-thumb {
  width: 28px;
  height: 28px;
  border-radius: 9999px;
  background-color: white;
  border: 2px solid #333;
  cursor: pointer;
}
